.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.App-logo {
    pointer-events: none;
    border-radius: 200px;
    min-width: 25vh;
    min-height: 25vh;
    width: 25vw;
    height: 25vw;
}

a.backButton{
    box-shadow: none;
    width: 2.5em;
    height: auto;
    position: fixed;
    top: 20px;
    left: 20px;
}

a.backButton>svg.css-i4bv87-MuiSvgIcon-root, a.backButton>svg.MuiSvgIcon-root {
    width: 2.5em;
    height: auto;
    position: fixed;
    top: 20px;
    left: 20px;
    color: white;
    box-shadow: none;
}

.cardRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.formCard {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #bcbcbc;
}

.iconShadow:hover {
    -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, .7));
    filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.328));
}

.logo {
    margin-bottom: 5vh;
    z-index: 0;
}

.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeLg.MuiButton-textSizeLg.MuiButtonBase-root#logoutSingle {
    color: rgb(255, 255, 255);
    background-color: #ff4258;
    width: 45vw;
}
.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeLg.MuiButton-textSizeLg.MuiButtonBase-root#logoutSingle:hover {
    box-shadow: 0 4px 8px 0 rgba(255, 66, 88, 0.2), 0 6px 20px 0 rgba(255, 66, 88, 0.19);
}

.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeLg.MuiButton-textSizeLg.MuiButtonBase-root#verifyButton {
    color: rgb(255, 255, 255);
    background-color: rgb(78, 72, 254);
    width: 45vw;
}

.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeLg.MuiButton-textSizeLg.MuiButtonBase-root#verifyButton:hover {
    box-shadow: 0 4px 8px 0 rgba(78, 72, 254, 0.2), 0 6px 20px 0 rgba(78, 72, 254, 0.19);
}

.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeLg.MuiButton-textSizeLg.MuiButtonBase-root.scheme {
    color: black;
    background-color: #fed806;
    margin: 0px 5px;
    font-size:medium;
}

.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeLg.MuiButton-textSizeLg.MuiButtonBase-root.scheme:hover {
    box-shadow: 0 4px 8px 0 rgba(254, 216, 6, 0.2), 0 6px 20px 0 rgba(254, 216, 6, 0.19);
    font-weight: 550;
}

.newformCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pageTemplate {
    text-align: center;
    align-items: center;
    background-color: #006FD6;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    min-height: calc(100vh - 40px);
    padding: 5vh 5vw;
    z-index: -2;
}

.secondButton {
    align-content: stretch;
}

.tag {
    color: #FFFFFF;
    font-size: 5vw;
    max-width: 50vw;
    max-height: 80vh;
    z-index: 2;
}

.tagBox {
    min-width: 30vw;
    max-width: 40vw;
    z-index: 3;
}

.titlePage {
    padding: 20px;
}

.testBox{
    position: fixed;
    top: 112px;
    height: calc(100vh - 112px); 
    width: 100%;
    background-color: black;
    z-index: 850;
}

div.nonFCInput,
button#loginButton {
    margin: 8px;
}

div#ActivityPage {
    overflow-y: scroll;
}

div#MapPage {
    overflow: hidden;
}

div.MuiCardContent-root {
    width: 80%;
}

div.MuiCardHeader-root {
    width: 100%;
    background-color: #b3daff;
}

div.MuiFormControl-root {
    width: 100%;
}

div.projectCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 30%;
    max-width: 60%;
    margin: 5px;
    text-align: center;
}

div.projectCard:hover{
    font-weight: 500;
    box-shadow: 0 4px 8px 0 rgba(71, 71, 71, 0.2), 0 6px 20px 0 rgba(71, 71, 71, 0.19);
}

form.MuiBox-root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

#logo1 {
    position: relative;
    z-index: -1;
}

#logo2 {
    position: absolute;
    top: 25vh;
    left: 30vw;
    z-index: -1;
}

#MapPage {
    height: calc(100vh - 113px);
    background-color: rgb(56, 56, 56);
    width: 100vw;
}

#newProjectButton {
    background-color: #035fb5;
    margin: 15px;
    width: 40%;
}

#newProjectButton:hover{
    color: white;
    box-shadow: 0 4px 8px 0 rgba(3, 95, 181, 0.2), 0 6px 20px 0 rgba(3, 95, 181, 0.19);
}

#newProjectButtonBox {
    display: flex;
    justify-content: center;
}

#newUser {
    padding: 20px;
}

#newUserButton {
    align-self: center;
    width: 100%;
}

#settingsCard{
    width: 50vw;
}

#tagText {
    z-index: 100;
}

div#cardFlexBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    margin: 10px;
}

div#projectEdit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

div#projectEdit h1{
    margin: 15px;
}

div#settingsTemplate{
    background-color: #acacac;
}

form#titleBox {
    border-bottom: 1px solid #c3baba;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

div#userSettings {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    text-align: center;
    margin: 10px;
}

div#userSettings h1 {
    margin: 20px 0px;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 60s linear;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}