:root {
    --tabSelectColor:#fed906;
    --tabSelectBG:#FED90615;
    --primaryBlue: #006FD6;
    --secondaryBlue: #00396D;
}

@media print{
    div#projectFrame>button.MuiButton-root,
        button#printButton, div#projectTabs, header.MuiAppBar-root{
            visibility: hidden;
        }

    div#mapFrame{
        break-after: always;
    }

    div#leftDrawer {
        overflow-y: hidden;
    }
}

@media (max-width: 599px){
    div.MuiDrawer-paperAnchorLeft,div#leftDrawer,div.MuiDrawer-paperAnchorRight,div#rightDrawer{
        top: 105px;
        height: calc(100vh - 105px);
    }
}

@media (min-width: 600px) {
    div.MuiDrawer-paperAnchorLeft, div#leftDrawer, div.MuiDrawer-paperAnchorRight, div#rightDrawer {
        top: 113px;
        height: calc(100vh - 113px);
    }
}

.css-heg063-MuiTabs-flexContainer {
    justify-content:center;

}

div.css-cveggr-MuiListItemIcon-root {
    min-width: 42px;
}

.homeButton {
    box-shadow: none;
    color: white;
}

#projTab0 > .MuiBox-root.css-19kzrtu {
    padding: 0px;
}

#bottomDrawer, #bottomDrawer > div.MuiPaper-root{
    top: calc(100vh - 250px);
}

#leftButton{
    left: 250px;
}

#rightButton {
    position: relative;
    left: calc(100vw - 416px)
}

#newProjectInput{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 75px;
    left: 29vw;
    z-index: 999;
}

#bottomButton{
    position: relative;
    top: calc(100vh - 186px);
    margin: 0px calc(50vw - 32px);
    bottom: 0;
}
button#bottomCloseButton{
    width: 100%;
    z-index: 1000;
}

#bottomListBox{
    margin-top: 30px;
}

a#siteName{
    color: white;
    text-decoration: none;
}

a#siteName:hover{
    color: white;
}

a.css-cjctlb-MuiButtonBase-root-MuiTab-root{
    color: white;
}

a.css-cjctlb-MuiButtonBase-root-MuiTab-root:hover {
    color: var(--tabSelectColor);
}

a.css-wigwbp.unselected {
    color: white;
    opacity: 0.7;
}

a.css-wigwbp.unselected:hover {
    color: var(--tabSelectColor);
}

a.Mui-selected {
    color: var(--tabSelectColor);
}

button.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected{
    color: var(--tabSelectColor);
}

button.css-1h9z7r5-MuiButtonBase-root-MuiTab-root{
    color: white;
}

div.css-1gsv261{
    background-color: var(--secondaryBlue);
}

button.newHoveringButtons{
    background-color: #ffffff;
    margin-left: 5px;
}

button.newHoveringButtons:hover {
    background-color: #daebff;
}

div#ActivityForm{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 5px;
    background-color: var(--tabSelectColor);
}

div#MapPage div#mapFrame{
    width:100vw;
    height: calc(100vh - 113px);
    top: -73px;
}

div.MuiDrawer-paperAnchorBottom div.MuiTableContainer-root{
    margin-top: 35px;
}

div#projectEdit div#mapFrame {
    top: 0px;
    width: 50vw;
    height: 50vh;
    margin-left: 15px;
    margin-bottom: 20px;
}

div#newProject div#mapFrame{
    width: 100vw;
    height: calc(100vh - 64px);
}

div#newProjectInput div.MuiFormControl-root {
    width: 40vw;
}

div#newProjectInput div.MuiOutlinedInput-root,  div#newProjectInput input#location-search{
    height: 90%;
}

div.MuiDrawer-paperAnchorLeft, div#leftDrawer, div.MuiDrawer-paperAnchorRight, div#rightDrawer{
    width: 250px;
}

div.MuiTabs-flexContainer{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

div#cardBox {
    width:100%;
    height: auto;
}

div#projectFrame>button.MuiButton-root, button#printButton{
    z-index: 900;
    color: #000000e0;
    background-color: #ffffffc2;
}

div#projectFrame>button.MuiButton-root:hover, button#printButton:hover {
    background-color: #ffffff;
}

button#printButton {
    position: fixed;
    top: 113px;
    left: calc(50vw - 46px);
    color: var(--primaryBlue);
}

div#rightDrawer.css-1u2w381-MuiModal-root-MuiDrawer-root{
    left: calc(100vw - 250px);
    right: 0px;
}

input#locationSearch {
    height: 40px;
    width: 40vw;
    border-color: transparent;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(110, 110, 110, 0.2), 0 6px 20px 0 rgba(110, 110, 110, 0.19);
}

input#locationSearch:focus-visible {
    outline: var(--primaryBlue) auto 1px;
}

select#activitySelect, input.dateTimePickers{
    width: 30vw;
    display: block;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    -moz-padding-start: calc(0.75rem - 3px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    appearance: none;
}

span.MuiTabs-indicator{
    display: flex;
    justify-content: center;
    background-color: transparent;
}

span.MuiTabs-indicatorSpan{
    max-width: 40px;
    width: 100%;
    background-color: var(--tabSelectColor);
    left: auto;
    right: auto;
}

a.homeButton > svg.MuiSvgIcon-root, a.homeButton>svg.css-vubbuv{
    width: 1.5em;
    height: auto;
    transition: width 1s ease-in-out;
}

a.homeButton > svg.MuiSvgIcon-root:hover, a.homeButton>svg.css-vubbuv:hover {
    width: 2em;
    height: auto;
}

.iconShadow:hover{
    color: white;
    -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, .7));
    filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.328));
}

.subTable th.MuiTableCell-head {
    background-color: #e2e2e2;
}

th.catTitle {
    font-weight: 700;
}

th.value, th.type, td.value, td.type {
    width: 15vw;
}

tr.categories {
    background-color: #aed5fa;
}

iframe#printFrame {
    display: none;
}